/* blogpost.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

.customizeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkE, .linkD {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: max-content;
  padding: 10px 15px;
  border-radius: 10px 0px 10px 0px;
  font-size: 16px;
  margin-right: 20px;
}

.linkD{
  color:white ;
  background: red;
}

.linkE{
  color:white ;
  background:green;
}
.linkE:hover, .linkD:hover {
  opacity: 0.5;
}

.firstContainer {
  display: flex;
  flex-direction: column;
}

.textContainer {
  margin-bottom: 20px;
}

.heading {
  font-size: 28px;
  font-weight: bold;
  margin:10px 0px 0px 0px;
}

.AuthorInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.smallRoundedImg {
  border-radius: 50%;
  margin-right: 10px;
}

.AuthorName {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.Blog {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .imageContainer {
    height: 300px;
  }
}
