/* about.module.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.imageContainer {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.imageText1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.imageText2 {
  font-size: 16px;
  line-height: 1.4;
}

.imageTextContainer {
  text-decoration: none;
}

.subContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.textContainer1,
.textContainer2 {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background:var(--bg);
  margin: 10px;
  min-width: 250px;
}

.heading4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pText1,
.pText {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.servicesList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

}

.subContainer .span{
  background: linear-gradient(135deg, #0099FF, #33CCFF);
  margin: 10px;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px 0px 10px 0px ;
  width: max-content;
}

.servicesList span {
  display: block;
  margin-bottom: 5px;
}

.btnContainer {
  text-align: center;
  margin-top: 20px;
}


@media screen and (max-width: 646px) {
  .imageContainer{
    display: none;
  }
  
}