*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light{
  --bg: #fff;
  --text: #333333;
  --bg-soft: #f0f0f0;
  --text-soft: #6d6b6b;
}

.dark{
    
  --bg: #121A33;        
  --bg-soft: #1E273E;
  --text: #FFFFFF;
  --text-soft:#ffffff;
}



.body-div {
    font-family: 'Inter', sans-serif;
    background-color:var(--bg-soft);
    color:var(--text); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .portfolio-layout-heading{
    text-align: center;
    font-weight: 700;
    font-size: 5vw;
    margin-top: 10px;
  }


a{
  text-decoration: none;
  color:var(--text);
}









  
  







