/* sidemenu.module.css */
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.subContainer1,
.subContainer2,
.subContainer3 {
  background-color:var(--bg);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
}

.cardHeader {
  background-color:var(--bg-soft);
  padding: 8px;
  display: flex;
 flex-direction: column;
  font-size: 16px;
  color: var(--text-soft);
}

.categories{
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  gap: 10px;
}


.smTxt {
  font-size: 12px;
  color: var(--text-soft);
}

.heading {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.popularCard,
.editorCard {
  border-top: 1px solid #ddd;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.category {
color: #fff;
  border-radius: 15px;
  width: max-content;
  padding: 6px 8px;
  font-weight: 600;
  margin-right: 10px;
}



.cardText {
  font-size: 16px;
  color: var(--text-soft);
  line-height: 1.5;
  margin: 0;
}

.authorInfo {
  font-size: 14px;
  color: var(--text-soft);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    gap: 10px;
  }

  .subContainer1,
  .subContainer2,
  .subContainer3 {
    width: 100%;
  }
}
