/* register.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:var(--bg-soft);
}

.form {
  background:var(--bg);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--text);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.errTxt {
  background: rgb(238, 107, 107);
  color: #fff;
  padding: 7px 10px;
  width: max-content;
  margin: 10px 0;
}

.btn {
  background-color: #157c00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.link {
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  font-size: 14px;
}



.span {
  font-weight: 700;
  color: #007BFF;
}

.link .span:hover {
  color: #0056b3;
}
